*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('../hero640.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-overlay{
    background-color: rgba(245, 245, 245, 0.705);
}

@media screen and (min-width: 640px) {
    .hero{
        background-image: url('../hero1920.jpg');
    }
}
@media screen and (min-width: 1920px) {
    .hero{
        background-image: url('../hero2400.jpg');
    }
}